.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(175, 194, 255);
  color: rgb(240, 240, 240);
  cursor: pointer;
  transition: all 0.5s ease-out;
  font-size: 17px;
  padding: 10px;
  white-space: nowrap;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(36, 87, 255);
  box-shadow: 0px 0px 15px 0px rgb(167, 167, 167);
}

.text-large {
  font-size: 30px;
  line-height: 38px;
}

.text-medium {
  font-size: 20px;
}